@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');

*{
  margin: 0;
  padding: 0;
  /*Se respeta el tamaño de las cajas e impide que crezcan si se les agrega padding o border*/
  /*background-color: rgb(20, 15, 20);
  color: rgb(219, 155, 58);
  font-family: "Nunito", sans-serif;*/
}

/*colores barra nav
color: rgba(39, 39, 39, 0.925);
      background-color: rgb(255, 152, 0);
       text-decoration: none;*/
     
.estiloHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .estiloNav{
    .estiloListaNav{
      display: flex;
      flex-direction: row;
      list-style: none;
      .estiloAnclaNav{
        display: flex;
        justify-content: space-evenly;
        text-decoration: none;
      }
    }
  }
}

body {
  background-color: rgba(39, 39, 39, 0.925);
  color: rgb(255, 152, 0);
  font-family: "Nunito", sans-serif;
}